<h1>Logined by <%= User.find(session[:user_id]).account %></h1>
<%= link_to 'ログアウト', logout_path, method: 'delete' %>
<h1>ユーザー一覧</h1>


<table>
  <thead>
    <th>学年</th>
    <th>学籍番号</th>
    <th>アカウント名</th>
    <th>氏名</th>
    <th></th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.grade %></td>
      <td><%= user.snum %></td>
      <td><%= link_to user.account, user_subject_pages_path(user.id), method: 'get' %></td>
      <td><%= user.name %></td>
  </tr>
    <% end %>
  </tbody>
</table>
