<%= form_for([:user, :category, @subject_page]) do |f| %>

  <%= f.label :title, 'タイトル'%>
  <br />
  <%= f.text_area :title, :size => "70x5" %>
  <br />

  <%= f.label :category_id, 'カテゴリ'%>
  <label><%= f.radio_button :category_id, "1" %>文献調査</label>
  <label><%= f.radio_button :category_id, "2" %>技術検討</label>
  <label><%= f.radio_button :category_id, "3" %>作業実践</label>
  <label><%= f.radio_button :category_id, "4" %>制作実習</label>
  <label><%= f.radio_button :category_id, "5" %>学会発表</label>
  <br />

  <% if submit_text == '更新' %>
    <%= f.label :number, '課題番号'%>
    <%= f.text_field :number %>
    <br />
  <% end %>


  <%= f.label :body, '本文'%>
  <br />
  <%= f.text_area :body, :size => "150x50" %>
  <br />

  <%= f.submit submit_text%>
<% end %>
