<%= form_for([:user, :category, @subject_page]) do |f| %>

  <%= f.label :title, 'タイトル'%>
  <%= f.text_field :title %>
  <br />

  <%= f.label :category_id, 'カテゴリ'%>
  <label><%= f.radio_button :category_id, "1" %>文献調査</label>
  <label><%= f.radio_button :category_id, "2" %>作業実践</label>
  <label><%= f.radio_button :category_id, "3" %>制作実習</label>
  <label><%= f.radio_button :category_id, "4" %>学会発表</label>
  <br />

  <%= f.label :number, '課題番号'%>
  <%= f.text_field :number %>
  <br />


  <%= f.label :body, '本文'%>
  <%= f.text_field :body %>
  <br />

  <%= f.submit submit_text%>
<% end %>
