<%= form_for @subject_page do |f| %>

<%= f.label :title, 'タイトル'%>
<%= f.text_field :title %>
<br />

<%= f.label :category, 'カテゴリ'%>
<label><%= f.radio_button :category, "文献調査" %>文献調査</label>
<label><%= f.radio_button :category, "作業実践" %>作業実践</label>
<label><%= f.radio_button :category, "制作実習" %>制作実習</label>
<label><%= f.radio_button :category, "学会発表" %>学会発表</label>
<br />

<%= f.label :body, '本文'%>
<%= f.text_field :body %>
<br />

<%= f.submit submit_text%>
<% end %>
