<h1>SubjectPages#index</h1>
<p>Find me in app/views/subject_pages/index.html.erb</p>
<% User.find(session[:user_id]).account %>
<%= link_to '新規作成', new_user_subject_page_path(params[:user_id].to_i) %>

<table>
  <thead>
    <th>タイトル</th>
    <th>カテゴリ</th>
    <th>更新日</th>
    <th>作成日</th>
    <th></th>
  </thead>
  <tbody>
    <% @subject_pages.each do |subject_page| %>
    <% if params[:user_id].to_i == subject_page.user_id %>
        <tr>
          <td><%= link_to subject_page.title, user_subject_page_path(params[:user_id], subject_page.id), method: 'get' %></td>
          <td><%= subject_page.updated_at %></td>
          <td><%= subject_page.created_at  %></td>
          <td><%= link_to '編集', edit_user_subject_page_path(params[:user_id].to_i, subject_page.id) %></td>
          <td><%= link_to '削除', user_subject_page_path(params[:user_id].to_i, subject_page.id), method: 'delete' %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

