<h1>SubjectPages#show</h1>
<p>Find me in app/views/subject_pages/show.html.erb</p>
<table border = "1">
  <tr><td>タイトル</td><td><%= @subject_page.title %></td></tr>
  <tr><td>作成日</td><td><%= @subject_page.created_at %></td></tr>
  <tr><td>更新日</td><td><%= @subject_page.updated_at %></td></tr>
  <tr><td>カテゴリ</td><td><%= @category.name %></td></tr>
  <tr><td>課題番号</td><td><%= sprintf("%04d\n", @subject_page.number) %></td></tr>
  <tr><td>内容</td><td><%= markdown(@subject_page.body) %></td></tr>
</table>
